.ScollList {
    box-sizing: border-box;
  }
  
.SL-heading-wrap {
    align-items: center; 
    display: flex;
  }
  
.SL-heading {
    color: #242424;
    font-size: 2rem;
    font-weight: 900;
    margin-right: auto;
    margin-top: 16px;
  }
  
.ScollList-body {
    min-height: 200px;
    padding-bottom: 20px; 
  }
  
.index-module-row {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-wrap: wrap;
  }
  
.index-module-col {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box; 
  }
  
.Item-wrap {
    margin-bottom: 20px; 
  }
  
.Item-link {
    border-radius: 16px;
    display: block;
    overflow: hidden;
    width: 100%;
  }
  
.Item-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
.Item-title {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
.Item-title a {
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  color: #292929;
  display: -webkit-box;
  font-size: 1.6rem;
  line-height: 1.4;
  overflow: hidden;
}
  