@import 'normalize.css';
@import url(https://fullstack.edu.vn/external-url?continue=https%3A%2F%2Ffonts.googleapis.com%2Fcss2%3Ffamily%3DIBM%2BPlex%2BSans%3Aital%2Cwght%400%2C100%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%26display%3Dswap);

:root {
  --primary: #fe2c55;
  --black: #000;
  --white: #fff;
  --text-color: #161823;

  //Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'roboto', 'sans-san-serif';
  font-size: 1.6em;
  line-height: 1.5;
  text-rendering: optimizeSpeed; //hien thi nhanh nha't
  color: var(--text-color);
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}

//custom tippy tooltip
body {
  .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-style: 1.6rem;
    line-height: 2.2rem;
    background-color: rgba(84, 84, 84, 0.92);
  }
  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }
  .tippy-content {
    padding: 8px 9px;
  }
  .tippy-box[data-placeholder^='bottom'] > .tippy-arrow::before {
    top: -8px;
  }
}
