@import 'normalize.css';
@import url(https://fullstack.edu.vn/external-url?continue=https%3A%2F%2Ffonts.googleapis.com%2Fcss2%3Ffamily%3DIBM%2BPlex%2BSans%3Aital%2Cwght%400%2C100%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C300%3B1%2C400%26display%3Dswap);

:root {
  --prymary: #fe2c55;
  --black: #000;
  --text-color: #333;

  //Default layout
  --default-layout-header-height: 60px;
  --default-layout-width: 1150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'roboto', 'sans-san-serif';
  font-size: 1.6em;
  line-height: 1.5;
  text-rendering: optimizeSpeed; //hien thi nhanh nha't
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
