.menu-item {
  position: relative;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-color);
  transition: background 200ms ease-in-out 0s;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
  &:active {
    background: rgba(22, 24, 35, 0.06);
  }
  &.active {
    color: var(--primary);
  }
}
.title {
  margin-left: 8px;
}
