.content {
  max-width: calc(100% - 96px);
  padding: 0 40px 0 20px;
  flex: 1 1;
}
.grid {
  padding: 0;
  margin: 0 auto;
}
.fullWidth {
  width: 100%;
}
.home-wrapper {
  margin-top: 70px;
  overflow: hidden;
  padding: 0 44px 74px;
}

  