body {
    font-size: var(--font-size);
    line-height: var(--line-height);
  }

.Video_wrapper {
    background-color: var(--black-color);
    padding: 0 8.5%;
    position: relative;
    width: 100%;
}
.noselect {
    -webkit-touch-callout: none;
    user-select: none;
}
.VideoPlayer_wrapper {
    padding-top: 56.25%;
    position: relative;
}
.VideoPlayer_player {
    inset: 0;
    overflow: hidden;
    position: absolute;
}
.react-player__preview:hover
.react-player__shadow {
    transform: scale(1.1);
}
.react-player__shadow {
    background: var(--primary) !important;
    transition: .3s ease;
}
.react-player__play-icon {

}

//
.Video_content {
    padding: 0 16%;
}
.Video_fullWidth {
    min-height: 400px;
    padding: 0 8.5%;
}
.Video_contentTop {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.wrapper {

}
.Heading_heading {
    font-size: 2.8rem;
    margin: 48px 0 8px;
}
.Heading_updated {
    font-size: 1.3rem;
    margin-bottom: 36px;
}
.MarkdownParser_wrapper {
    word-wrap: break-word;
    color: #292929;
    font-size: 1.8rem;
    font-size: var(--font-size,1.8rem);
    line-height: 2;
    line-height: var(--line-height,2);
}
.MarkdownParser_wrapper p{
    margin: 6px 0;
}
//

.ActionBar_wrapper {
    align-items: center;
    background-color: #f0f0f0;
    bottom: 0;
    box-shadow: 0 -2px 3px rgba(0,0,0,.1);
    display: flex;
    height: 50px;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 2;
}
.ActionBar_btn {
    border-radius: 6px;
    color: #404040;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px 12px;
    transition: .3s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ActionBar_btn span {
    padding: 8px;
}
.ActionBar_primary {
    border: 2px solid var(--primary);
    color: var(--primary);
}
.ActionBar_disabled {
    cursor: default;
    opacity: .5;
    pointer-events: none;
}
.ActionBar_toggle-wrap {
    align-items: center;
    bottom: 0;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
}
.ActionBar_track-title {
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    font-size: 1.4rem;
    overflow: hidden;
}
.ActionBar_toggle-btn {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-size: 1.6rem;
    height: 38px;
    justify-content: center;
    margin: 0 8px;
    width: 38px
}
