body {
    font-size: var(--font-size);
    line-height: var(--line-height);
  }

.Video_wrapper {
    background-color: var(--black-color);
    padding: 0 8.5%;
    position: relative;
    width: 100%;
}
.noselect {
    -webkit-touch-callout: none;
    user-select: none;
}
.VideoPlayer_wrapper {
    padding-top: 56.25%;
    position: relative;
}
.VideoPlayer_player {
    inset: 0;
    overflow: hidden;
    position: absolute;
}
.react-player__preview:hover
.react-player__shadow {
    transform: scale(1.1);
}
.react-player__shadow {
    background: var(--primary) !important;
    transition: .3s ease;
}

//
.Video_content {
    padding: 0 16%;
}
.Video_fullWidth {
    min-height: 400px;
    padding: 0 8.5%;
}
.Video_contentTop {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.Heading_heading {
    font-size: 2.8rem;
    margin: 48px 0 8px;
}
.Heading_updated {
    font-size: 1.3rem;
    margin-bottom: 36px;
}
.MarkdownParser_wrapper {
    word-wrap: break-word;
    color: #292929;
    font-size: 1.8rem;
    font-size: var(--font-size,1.8rem);
    line-height: 2;
    line-height: var(--line-height,2);
}
.MarkdownParser_wrapper p{
    margin: 6px 0;
}
.lecture-description {
    white-space: pre-line;
}